.contendor__navbar{
    display: flex;
    border: 2px solid;
    height: 70vh;
}
.informacion__navbar{
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.imagen__navbar{
    display: flex;
}
.imagen__escudo{
    width: 3vw;
}