.contenedor__inputPass{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 2.5vh;
    border-radius: 1vh;
    cursor: pointer;
    width: 100%;
    background-color: aliceblue;
}
.inf__inputPass{
    display: flex;
}
.icono__inputPass, .vista__inputPass{
    color: var(--color-primario);
    margin-right: 1vh;
}
.vista__inputPass{
  cursor: pointer;
}
.vista__inputPass:first-child{
  cursor: pointer;
}
.inputPass{
  width: 100%;
    font-size: 1.8vh;
    color: var(--color-primario);
    transition: border 0.3s ease;
}
.inputPass::placeholder{
    font-size: 1.8vh;
    color: var(--color-primario);
    text-align: center;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.inputPass:focus::placeholder {
    opacity: 0;
    transform: scale(1);
  }

.inputPass:focus {
    font-size: 1.8vh;
    color: var(--color-primario);
    font-weight:bold;
    border-bottom: 3px solid var(--color-primario);
 animation: borderAnimation 3s infinite alternate;
  }

  @keyframes borderAnimation {
    from {
      border-color: rgb(255, 255, 255); /* Cambia el color del borde al inicio de la animación */
    }
    to {
      border-color: rgb(255, 0, 0); /* Cambia el color del borde al final de la animación */
    }
  }
  .campo__inputPass{
    display: flex;
  }