.contenedor__inputTexto{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 5vh;
    width: 10vw;
    font-size: 2.5vh;
    border-radius: 1vh;
    cursor: pointer;
    background-color: var(--color-primario);
}

.inf__inputTexto{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-blanco);
}
.icono__inputTexto{
    color: var(--color-primario);
}

.inputTexto:focus {
 border-bottom: 10px solid;
  }